node_modules
dist
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# local database and uploaded curriculum files
user_states.json
public/data/global_cv.bin
public/data/global_cv_meta.json
